* {
  margin: 0;
  padding: 0; }

.footer .footer-wrap .footer_logo {
  z-index: 1;
  display: flex; }

body {
  background-color: #21232E; }

header {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif; }
  header .header-wrap {
    background: url(../img/m-h-night.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom-right-radius: 45%;
    z-index: -1;
    display: flex;
    padding: 3% 40% 0 10%;
    flex-direction: column; }
    header .header-wrap .landing-logo {
      z-index: 1;
      display: flex; }
      header .header-wrap .landing-logo p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size: 25px;
        padding-left: 15px;
        font-family: "Fresca", sans-serif;
        opacity: 0.75;
        line-height: 1.2; }
        header .header-wrap .landing-logo p span {
          font-weight: 100;
          font-size: 10px; }
    header .header-wrap .header_heading {
      padding: 90px 0 90px 0;
      margin: 0 0 -10px 0;
      font-size: 60px;
      font-weight: bold;
      line-height: 100%;
      width: 450px;
      z-index: 1;
      opacity: 0.95; }
    header .header-wrap .header_heading::after {
      display: block;
      content: '';
      background: #FF4E33;
      position: absolute;
      margin: -20px 0;
      z-index: -1;
      width: 253px;
      height: 20px; }
    header .header-wrap .header_text {
      font-family: "Fresca", sans-serif;
      padding-bottom: 80px;
      opacity: 0.8;
      white-space: pre-line; }
    header .header-wrap .header_button {
      width: 150px;
      height: 50px;
      background-color: #E3AC00;
      border: transparent;
      border-radius: 5px;
      font-family: "Source Sans Pro", sans-serif;
      color: #21232E;
      font-weight: bold;
      font-size: 18px; }
    header .header-wrap .header_button:hover {
      background-color: #b08500; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section .section_text {
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 50px 0 45px 0;
    font-size: 40px;
    font-weight: 600; }
  .section .section_text::after {
    display: block;
    content: '';
    background: #FF4E33;
    position: absolute;
    margin: -20px 0;
    z-index: -1;
    margin: -19px 0;
    width: 182px;
    height: 10px;
    left: 50.5%; }
  .section .section_card_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10%; }
    .section .section_card_wrap .section_card {
      width: 27%;
      background-color: #3B3F50;
      border-radius: 5px;
      color: #ffffff;
      text-align: center; }
      .section .section_card_wrap .section_card .section_card_img {
        margin: 4% 4% 0 4%;
        border-radius: 5px;
        width: 90%; }
      .section .section_card_wrap .section_card .section_card_heading {
        font-family: "Source Sans Pro", sans-serif;
        margin: 4%;
        z-index: 0;
        position: relative;
        z-index: 1; }
      .section .section_card_wrap .section_card .section_card_underline {
        display: block;
        content: '';
        width: 118px;
        height: 10px;
        background: #FF4E33;
        position: relative;
        z-index: -1;
        left: 93px;
        bottom: 8px; }
      .section .section_card_wrap .section_card .section_card_text {
        font-family: "Fresca", sans-serif;
        margin: 4%;
        font-size: 12px; }
    .section .section_card_wrap .section_card:nth-child(2) .section_card_underline {
      width: 100px;
      left: 100px; }
    .section .section_card_wrap .section_card:nth-child(3) .section_card_underline {
      width: 80px;
      left: 110px; }
  .section .section_banner {
    position: absolute;
    z-index: 2;
    top: 1400px;
    border-radius: 5px;
    width: 950px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(45deg, #E1A803 25%, #C9831A 50%, #AF5A35 75%, #942E51 100%); }
    .section .section_banner .section_banner_text_wrap {
      font-family: "Source Sans Pro", sans-serif; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 28px;
        font-weight: 700;
        color: #000000;
        opacity: 0.9; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading::after {
        display: block;
        content: '';
        width: 62px;
        height: 10px;
        background: #FF4E33;
        position: relative;
        z-index: -1;
        left: 110px;
        bottom: 14px; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
        opacity: 0.9; }
    .section .section_banner .section_banner_button {
      width: 150px;
      height: 50px;
      background-color: #E3AC00;
      border: transparent;
      border-radius: 5px;
      font-family: "Source Sans Pro", sans-serif;
      color: #21232E;
      font-weight: bold;
      font-size: 18px; }

.footer {
  background-color: #3B3F50;
  width: 100%;
  height: 250px;
  color: #ffffff;
  display: flex;
  margin-top: 195px;
  flex-direction: row; }
  .footer .footer-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 125px 8% 50px 10%;
    opacity: 0.75;
    justify-content: space-between;
    align-items: center;
    font-family: "Fresca", sans-serif; }
    .footer .footer-wrap .footer_logo {
      flex-direction: row;
      align-items: center; }
      .footer .footer-wrap .footer_logo p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        padding-left: 15px;
        line-height: 1.2; }
        .footer .footer-wrap .footer_logo p span {
          font-weight: 100;
          font-size: 10px; }
    .footer .footer-wrap .footer_text {
      width: 25%;
      font-size: 14px; }
    .footer .footer-wrap .footer-cr {
      width: 20%;
      font-size: 16px; }
