$headerBackground: url(../img/m-h-day.jpg);
$backgroundColor: #FFFFFF;
$underlineColor: #14A0C7 ;
$buttonColor: #699900;
$cardBackgroundColor: #21232E;
$footerBackgroundcolor:#21232E;
$font1 :'Source Sans Pro', sans-serif;
$font2 :'Hind', sans-serif;
$font3 :'Fresca', sans-serif;

$linearGrad1:#679704;
$linearGrad2:#507F5A;
$linearGrad3:#417090;
$linearGrad4:#305ecf;

$card-info: (
    card_width: 27%,
    card_radius: 5px,
    card_color: #ffffff,
);
