$headerBackground: url(../img/m-h-night.jpg);
$backgroundColor: #21232E;
$underlineColor: #FF4E33 ;
$buttonColor: #E3AC00;
$cardBackgroundColor: #3B3F50;
$footerBackgroundcolor:#3B3F50;
$font1 :'Source Sans Pro', sans-serif;
$font2 :'Fresca', sans-serif;
$font3 :'Hind', sans-serif;

$linearGrad1:#E1A803;
$linearGrad2:#C9831A;
$linearGrad3:#AF5A35;
$linearGrad4:#942E51;

$card-info: (
    card_width: 27%,
    card_radius: 5px,
    card_color: #ffffff,
);